<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    simplycookアプリ一つで料理の全てがお手軽に完結！
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
    <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>simplycookについて</h2>
      <ul>
        <li><%= link_to '会社概要', "#", class: "footer-link" %></li>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '特定商取引法に基づく表記', "#", class: "footer-link" %></li>
        <li><%= link_to '料理を美味しく安全に楽しむために', "#", class: "footer-link" %></li>
        <li><%= link_to 'サービスに関しての問い合わせ', "#", class: "footer-link" %></li>
        <li><%= link_to 'よくある質問', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>メニュー</h2>
      <ul>
        <li><%= link_to 'トップ', "#", class: "footer-link" %></li>
        <li><%= link_to 'コラム一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'ピックアップ一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'キーワード一覧', "#", class: "footer-link" %></li>
        <li><%= link_to '材料一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
     <div class='furima-details'>
      <h2 class='footer-content-head'>カテゴリ一覧</h2>
      <ul>
        <li><%= link_to '料理カテゴリー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to '料理器具一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'ご近所のスーパー', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>サービス情報</h2>
      <ul>
        <li><%= link_to 'simplycookガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'simplycookロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <div class='footer-content-head2'>simplycook</div>
  <p>© simplycook</p>
</div>