<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '料理カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to '調理器具一覧', "#", class: "brand-list" %></li>
      <li><%= link_to 'ご近所のスーパー', "#", class: "brand-list" %></li>
    </ul>
    <% if user_signed_in? %>
      <ul class='lists-right'>
        <li><%= link_to current_user.nickname, root_path, class: "user-nickname"  %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
       </ul> 
    <% else %>
      <ul class='lists-right'>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      </ul>
    <% end %> 
  </div>
</header>